[project]
name = "olxproject"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.13"
dependencies = [
    "django>=6.0.2",
    "dotenv>=0.9.9",
    "psycopg2-binary>=2.9.11",
]
